@charset "utf-8";
/* CSS Document */

header {
	text-align:center;
	
}

.mimi-cells {
	background-color:#00B1F1;
}

#stage{
	margin:auto;
	border:20px solid #575757;
}
.mimi-cells {
	text-align:center
}