body{
	text-align: center;
}
.game{
	display: block;
	width: 160px;
	height: 160px;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 40px  auto;
}

#color{
	background-image: url(Colors/icon.png);
}
#lunch{
	background-image: url(lunch/lunch.png);
}